body {
    font-family: "Hiragino Kaku Gothic Pro";
}

header {
    border-bottom: 1px solid black;
    border: 1px solid black;
    height: 60px;
}

header span {
    color: black;
    font-size: 30px;
    font-weight: bold;
    line-height: 60px;
    letter-spacing: -1px;
    display: inline-block;
    padding: 0 20px;
    float: left;
    /*border: 1px solid blue;*/
}

.my-cannabis {
    font-size: 0.8em;
}

header a {
    color: white;
}

.link-github {
    float: right;
    display: inline-block;
    line-height: 60px;
    padding: 0 20px;
    background-color: gray;
}

.content-wrapper {
    /*border: 1px solid blue;*/
    margin: 10px 20px;
}

h3 {
    color: gray;
    font-weight: normal;
    border-bottom: 1px solid gray;
    margin-bottom: 5px;
}

footer {
    border-bottom: 1px solid black;
    border: 1px solid black;
    height: 24px;
    margin-top: 20px;
    text-align: center;
}

footer span {
    line-height: 24px;
    color: black;
    font-size: 16px;
}
